<div class="card mt-5">
    <div class="card-body p-3">
        <h2>
            Criar um produto
        </h2>
        <form action="/admin/criar" method="post">
            <input type="text" class="form-control mb-2" name="name" placeholder="Nome do produto">
            <input type="text" class="form-control mb-2" name="description" placeholder="Descrição do produto">
            <input type="text" class="form-control mb-2" name="imageurl" placeholder="URL da imagem do produto">
            <input type="text" name="price" id="price" class="form-control mb-2" placeholder="Preço do produto">
            <button type="submit" class="btn btn-primary">
                Criar
            </button>
        </form>
    </div>
</div>