
<h1>
    Olá, administrador {{user.name}}
</h1>
<h3>
    <a href="/admin/pedidos">
        Ver todos os pedidos
    </a>
</h3>
<h3>
    <a href="/admin/criar">
        Criar um produto
    </a>
</h3>