<div class="card">
  <div class="card-body p-3">
    <h1>Registrar</h1>
    <form action="/auth/register" method="post">
      <input type="text" name="username" id="username" class="form-control mb-3" placeholder="Nome de usuário">
      <input type="text" name="name" id="name" class="form-control mb-3" placeholder="Nome completo">
      <input type="email" name="email" id="email" class="form-control mb-3" placeholder="Endereço de e-mail">
      <input type="password" name="password" id="password" class="form-control mb-3" placeholder="Senha">
      <button type="submit" class="btn btn-primary">
        Registrar
      </button>
    </form>
  </div>
</div>